.titlebar {
  height: 30px;
  background: var(--background-light-color);
  user-select: none;
  display: flex;
  justify-content: space-between;
  border-top-left-radius: var(--app-border-radius);
  border-top-right-radius: var(--app-border-radius);
  border: 1px solid var(--page-border-color);
  border-bottom: none;
}

.titlebar .menu {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.titlebar .menu div {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  transition: 0.2s;
  cursor: pointer;
  padding: 3px 10px;
  border-radius: 5px;
}

.titlebar .menu div:hover {
  color: var(--text-light-color);
  background-color: var(--background-color);
}

.titlebar .menu div a {
  text-decoration: none;
  color: var(--text-color);
  position: relative;
}

.titlebar .menu div.active a {
  color: #fff;
  transition: 0.2s ease-in-out;
  
}

.titlebar .menu div a::after {
  content: '';
  position: absolute;
  width: 0px;
  height: 1px;
  left: 0;
  bottom: -2px;
  background-color: #fff;
  transition: width 0.1s;
}

.titlebar .menu div.active a::after {
  width: 100%;
  transition: width 0.3s;
}
